<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{% block title %}{% endblock %} | Jobeet - Your best job board</title>
      <link href="{{ asset('bundles/jobs/css/main.css') }}" type="text/css" rel="stylesheet" />
      {% block stylesheets %}{% endblock %}
      <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
      <link rel="alternate" type="application/atom+xml" title="Latest Jobs"
        href="{{ url('job', { '_format':'atom' }) }}" />
   </head>
   <body>
      <div id="container">
         <div id="header">
            <div class="content">
               <h1>
                  <a href="{{ path('_welcome') }}">
                     <img src="{{ asset('bundles/jobs/images/logo.jpg') }}" alt="Jobeet Job Board"/>
                  </a>
               </h1>
               <div id="sub_header">
                  <div class="post">
                     <h2>Ask for people</h2>
                     <div>
                        <a href="{{ path('job_new') }}">Post a Job</a>
                     </div>
                  </div>

                  <div class="search">
                     <h2>Ask for a job</h2>
                     <form action="" method="get">
                        <input type="text" name="keywords"
                               id="search_keywords" />
                        <input type="submit" value="search" />
                        <div class="help">
                           Enter some keywords (city, country, position, ...)
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div id="content">
            {% if app.session.hasFlash('notice') %}
            <div class="flash_notice">
               {{ app.session.flash('notice') }}
            </div>
            {% endif %}
            {% if app.session.hasFlash('error') %}
            <div class="flash_error">
               {{ app.session.flash('error') }}
            </div>
            {% endif %}
            {% if jobeetEntity.getHistoryJobs() %}
               <div id="job_history">
                 Recent viewed jobs:
                 <ul>
                   {% for job in jobeetEntity.getHistoryJobs() %}
                     <li>
                        <a href="{{ path('job_show', { 'id': job.id }) }}">
                           {{ job.position}} - {{ job.company }}
                        </a>                     
                     </li>
                   {% endfor %}  
                 </ul>
               </div>
            {% endif %}
            <div class="content">
               {% block content %}{% endblock %}
            </div>
         </div>
         {% block javascripts %}{% endblock %}
         <div id="footer">
            <div class="content">
               <span class="symfony">
                  <img src="{{ asset('bundles/jobs/images/jobeet-mini.png') }} />
                  powered by <a href="http://www.symfony-project.org/">
                     <img src="{{ asset('bundles/jobs/images/symfony.gif') }} alt="symfony framework" />
                  </a>
               </span>
               <ul>
                  <li><a href="">About Jobeet</a></li>
                  <li class="feed"><a href="{{ path('job', { '_format':'atom' }) }}">Full feed</a></li>
                  <li><a href="">Jobeet API</a></li>
                  <li class="last"><a href="{{ path('api_new') }}">Become an affiliate</a></li>
               </ul>
            </div>
         </div>
      </div>
   </body>
</html>

