{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/jobs/css/jobs.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="jobs">
  <table class="jobs">
    {% set counter = 0 %}
    {% for entity in entities %}
      <tr class="{{ cycle(['odd', 'even'], counter) }}">
      {% set counter = counter + 1 %}
        <td class="location">{{ entity.location }}</td>
        <td class="position">
          <a href="{{ path('jobs_show', { 'id': entity.id }) }}">
            {{ entity.position}}
          </a>
        </td>
        <td class="company">{{ entity.company }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
